<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Mandy\BundlesRecommendations\Api\CartManagementInterface"
                type="Mandy\BundlesRecommendations\Model\CartManagement" />

    <preference for="Mandy\BundlesRecommendations\Api\Data\ItemInterface"
                type="Mandy\BundlesRecommendations\Model\Data\Item" />

</config>
